In [1612]:
import os
import pandas as pd
import io
import numpy as np
import plotnine
from plotnine import *
%matplotlib inline

In [1613]:
df = pd.read_csv('/Users/nicomontenegrob/Documents/NYU/Data Bootcamp/IT Salary Survey EU  2020.csv') 
# DELETE

In [1614]:
df

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,18/01/2021 15:05:50,31,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,18/01/2021 17:46:02,33,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,18/01/2021 23:20:35,39,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,19/01/2021 10:17:58,26,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,19/01/2021 12:01:11,26,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30,600

In [1615]:
cols0 = df.iloc[:,0] # Column will be dropped, not useful

cols1 = df.iloc[:,1:9] # Drop NaN and 0s

cols2 = df.iloc[:,9] # Replace NaN with str

cols3 = df.iloc[:,10] # Leave intact

cols4 = df.iloc[:,11] # Replace NaN with 0

cols5 = df.iloc[:,12:14] # Replace NaN with str

cols6 = df.iloc[:,14] # Replace NaN with 0

cols7 = df.iloc[:,15:21] # Drop NaN and 0s

cols8 = df.iloc[:,21:len(df)] # Replace with 0

# Sets of columns that need replacements need to be done first to maintain size of dataframe

In [1616]:
# cols2, cols4, cols5, and cols8 need to replace NaNs with 0s or str, so these are handled first

fcols2 = cols2.replace(np.nan, 'No Response')

fcols4 = cols4.replace(np.nan, 0)

fcols5 = cols5.replace(np.nan, 'No Response')

fcols6 = cols6.replace(np.nan, 0)

fcols8 = cols8.replace(np.nan, 0)

In [1617]:
# cols1 and cols7 both need to drop all NaN and 0s, so in preparation all 0s will be converted to NaN

fcols1 = cols1.replace(0, np.nan)

fcols7 = cols7.replace(0, np.nan)

In [1618]:
# This creates the first draft of the clean dataframe

concatdf = pd.concat([fcols1, fcols2, cols3, fcols4, fcols5, fcols6, fcols7, fcols8], axis = 1)

df = concatdf.dropna()

df = df.reset_index()

df.drop('index', axis = 1, inplace = True)

In [1619]:
df

,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,26,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000,...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,0,0
1,26,Male,Berlin,Backend Developer,7,4,Senior,Ruby,No Response,80000,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,0,0
2,29,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000,...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,0,0
3,28,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,No Response,54000,...,No Response,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,0,0
4,37,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000,...,No Response,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,31,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",70000,...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,0,0
1035,33,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,No Response,60000,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,0,0
1036,39,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",110000,...,No Response,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,0,0
1037,26,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",38350,...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,0,0
1038,26,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",65000,...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30,600

In [1620]:
# All numerical columns should be converted to strings to help with cleaning 

columns = df.columns.tolist()

numcolumns = ['Age','Total years of experience', 'Years of experience in Germany',
            'Yearly brutto salary (without bonus and stocks) in EUR',
            'Yearly bonus + stocks in EUR',
            'Number of vacation days',
            'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
            'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR']

txtcolumns = ['Gender', 'City','Position ', 'Seniority level',
              'Your main technology / programming language',
              'Employment status',
              'Сontract duration',
              'Main language at work',
              'Company size', 'Company type',
              'Have you lost your job due to the coronavirus outbreak?']

for col in numcolumns:
    df[col] = df[col].apply(str)

In [1621]:
columns

['Age',
 'Gender',
 'City',
 'Position ',
 'Total years of experience',
 'Years of experience in Germany',
 'Seniority level',
 'Your main technology / programming language',
 'Other technologies/programming languages you use often',
 'Yearly brutto salary (without bonus and stocks) in EUR',
 'Yearly bonus + stocks in EUR',
 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
 'Annual bonus+stocks one year ago. Only answer if staying in same country',
 'Number of vacation days',
 'Employment status',
 'Сontract duration',
 'Main language at work',
 'Company size',
 'Company type',
 'Have you lost your job due to the coronavirus outbreak?',
 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR']

In [1622]:
def uv(colname):
    return df[colname].unique()

# This function shows if there are individual values that need to be cleaned in a column (i.e. those that are unknown
# or unforseen unless one looks for them specifically) that did not get cleaned in the initial filter

# This is particularly important to know before replacing , with . using replace()

In [1623]:
for i in numcolumns:
    print(i)
    print(uv(i))
    print("")

Age
['26.0' '29.0' '28.0' '37.0' '32.0' '24.0' '35.0' '34.0' '31.0' '27.0'
 '25.0' '59.0' '36.0' '38.0' '40.0' '39.0' '33.0' '30.0' '49.0' '48.0'
 '44.0' '66.0' '45.0' '43.0' '42.0' '46.0' '56.0' '53.0' '41.0' '65.0'
 '47.0' '22.0' '23.0' '50.0' '51.0' '20.0' '54.0']

Total years of experience
['5' '7' '12' '4' '17' '6' '8' '15' '2' '14' '11' '30' '18' '13' '10' '25'
 '3' '40' '26' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5' '21' '2.5'
 '28' '29' '23' '1,5' '24' '0' '4.5' '27'
 '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO' '31'
 '6 (not as a data scientist, but as a lab scientist)' '3.5'
 'less than year']

Years of experience in Germany
['3' '4' '6' '1' '0.4' '2' '5' '9' '30' '7' '15' '11' '10' '18' '0' '2.5'
 '1,5' '1.5' '0.5' '13' '14' '8' '3.5' '0.8' '12' '3,5' '20' '0.9' '25'
 '< 1' '0.25' '16' '19' '2,5' '3 months' '0,5' '4.5' '0.1' '2.6'
 '3 (in Poland)' '<1' '⁰' '0,3' '-'
 '6 (not as a data scientist, but as a lab scientist)' '0.2'
 'less than year']

Yearly brutto salary (without bonus and stocks) in EUR
['80000.0' '120000.0' '54000.0' '62000.0' '76000.0' '57000.0' '65000.0'
 '56000.0' '95000.0' '52500.0' '70000.0' '75000.0' '60350.0' '60000.0'
 '100000.0' '69000.0' '47400.0' '85000.0' '63000.0' '150000.0' '45000.0'
 '72000.0' '67000.0' '105000.0' '74000.0' '77000.0' '68000.0' '70500.0'
 '73500.0' '93000.0' '55000.0' '53000.0' '50000.0' '78000.0' '73000.0'
 '81000.0' '58000.0' '79000.0' '49000.0' '48000.0' '66000.0' '68500.0'
 '71060.0' '90000.0' '70800.0' '89200.0' '115000.0' '140000.0' '42000.0'
 '96000.0' '64000.0' '61500.0' '55200.0' '67200.0' '92500.0' '61200.0'
 '108000.0' '37500.0' '35000.0' '52000.0' '84000.0' '123600.0' '26400.0'
 '92000.0' '66800.0' '63500.0' '89570.0' '130000.0' '46000.0' '56400.0'
 '81200.0' '20000.0' '65400.0' '71000.0' '27000.0' '67500.0' '10164.0'
 '78500.0' '83000.0' '24000.0' '95500.0' '77600.0' '50400.0' '14712.0'
 '74400.0' '82000.0' '28800.0' '44000.0' '76900.0' '88000.0' '200000.0'
 '30000.0' '21120.0' '47500.0' '45600.0' '66300.0' '79300.0' '34000.0'
 '47000.0' '180000.0' '63700.0' '122000.0' '69200.0' '59000.0' '160000.0'
 '76500.0' '36000.0' '51000.0' '154000.0' '43000.0' '39000.0' '86000.0'
 '40000.0' '98000.0' '99000.0' '102000.0' '78600.0' '250000.0' '58800.0'
 '54500.0' '82500.0' '57600.0' '12000.0' '71750.0' '81900.0' '22000.0'
 '37000.0' '159000.0' '103000.0' '23000.0' '135000.0' '29000.0' '87000.0'
 '850000.0' '110000.0' '240000.0' '33000.0' '151872.0' '52800.0'
 '500000000.0' '94000.0' '10001.0' '67473.0' '91000.0' '66500.0' '56700.0'
 '77250.0' '25000.0' '106000.0' '49200.0' '21000.0' '25300.0' '85600.0'
 '172000.0' '14400.0' '54179.13' '113000.0' '64800.0' '59064.0' '53500.0'
 '62400.0' '65600.0' '32000.0' '124000.0' '73700.0' '87550.0' '40700.0'
 '47745.0' '43500.0' '49850.0' '61000.0' '45500.0' '11500.0' '17500.0'
 '72500.0' '62500.0' '65900.0' '107000.0' '70200.0' '16320.0' '68250.0'
 '84700.0' '108500.0' '38350.0']

Yearly bonus + stocks in EUR
['5000' '0' '120000' '2000' '80000' '4000' '10000' '1000' '101' '12000'
 '1500' '15000' '72000' '73000' '3000' '5800' '30000' '7000' '40000'
 '56000' '8000' '75000' '6300' '6000' '22000' '7500' '67000' '8500'
 '70000' '17800' '25000' '26000' '10300' '6900' '95000' '4700' '62000'
 '18000' '22500' '7300' '77000' '17000' '12150' '60000' '20000' '63500'
 '20240' '81200' '6500' '46000' '400' '122.13' '500' '14500' '43500'
 '50400' '88000' '28800' '86000' '77400' '12' '65000' '74000' '200000'
 '3520' '96000' '47500' '45600' '55000' '11000' '11900' 'bvg only'
 '150000' '13500' '50000' '1600' '5500' '45000' '38500' '2400' '4300'
 '59000' '100000' '63909' '99000' '70500' '450000' '20700' '78000' '9000'
 '4250' '102600' 'depends' '35000' '23000' '97000' '1100' '15000+-'
 '90000' '37968' '4400' '66500' '5000000000' '84000' '4500' '15900'
 '21000' '87250' '85000' '71000' '106000' '43000' '14000' '2500' 'Na'
 '60847.32' '3250' '54000' '58000' '170000' '82000' '9450' '66447' '53500'
 '82500' '800' '36000' '13000' '2800' '107000' '12500' '-' '125000'
 '80400' '3800' '28000' '31500' '63000' '45500' '92000' '1200' '1250'
 'Not sure' '16000' '110000' '700' '16320' '40950']

Number of vacation days
['30' '28' '24' '29' '27' '25' '31' '60' '26' '22' '38' '35' '0' '40' '36'
 '23' '33' '21' '20' '14' 'unlimited '
 '30 in contract (but theoretically unlimited)' '32' '15' '16' '3' '45'
 '~25' '12' '50' 'unlimited' '23+' '99' 'Unlimited' '24 labour days'
 '37.5' '1' '5' '39' '34' '10']

Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
['0.0' '30.0' '32.0' '24.0' '20.0' '40.0' '10.0' '34.0' '38.0' '35.0'
 '36.0' '28.0' '37.5' '25.0' '26.0' '2.0' '8.0' '4.0' '5.0' '16.0' '12.0']

Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
['0' '600' '200' '1100' '1' '1000' '5000' '500' '2000' '300' '900' '1500'
 '850' '100' '1600' '50' '250' '400' '675' 'No' '40' '750' 'no' '700'
 '1200' '1300' '1750' '580' '400 / month' '550' 'yes' '440'
 '75% from government ' '40 every month' '180' '1700' '200 Amazon voucher'
 '160' '800' '350' '540' '240' '1250.29' '1800' '-' '150' '80' '600 nett'
 '20%' 'I was able to move all equipment I need to work to home' '140'
 '650' '0,00' '1670']

In [1624]:
# Clearly there are more values to clean

# These functions can help expedite the process

def getindex(colname, value):
    return pd.Index(df[colname]).get_loc(value)

def indivcleaner(colname,lookup,replacement):
    df.iloc[getindex(colname, lookup)] = df.iloc[getindex(colname, lookup)].replace(lookup, replacement)

# For 'Total years of experience'

c = 'Total years of experience'

indivcleaner('Total years of experience', '15, thereof 8 as CTO', '15')

indivcleaner(c, '1 (as QA Engineer) / 11 in total', '11')

indivcleaner(c, '6 (not as a data scientist, but as a lab scientist)', '0')

indivcleaner(c, 'less than year', '0')

In [1625]:
# For 'Years of experience in Germany'

c = 'Years of experience in Germany'

# indivcleaner(c, '6 (not as a data scientist, but as a lab scientist)', '0')

indivcleaner(c, '-', '0')

indivcleaner(c, '⁰', '0')

indivcleaner(c, '<1', '0')

indivcleaner(c, '3 (in Poland)', '0')

indivcleaner(c, '3 months', '0.25')

indivcleaner(c, '< 1', '0')

# indivcleaner(c, 'less than year', '0')

In [1626]:
# 'For Number of vacation days'

c = 'Number of vacation days'

indivcleaner(c , 'Unlimited', '365')

indivcleaner(c, 'unlimited', '365')

indivcleaner(c, '24 labour days' , '24')

indivcleaner(c, '23+', '23')

indivcleaner(c, '~25', '25')

indivcleaner(c, '30 in contract (but theoretically unlimited)', '30')

In [1627]:
# For 'Yearly bonus + stocks in EUR'

c = 'Yearly bonus + stocks in EUR'

indivcleaner(c, 'bvg only', '0')

indivcleaner(c, '15000+-', '15000')

indivcleaner(c, 'Not sure', '0')

indivcleaner(c, 'Na', '0')

indivcleaner(c, 'depends', '0')

In [1628]:
# For 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'

c = 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'

indivcleaner(c, '600 nett', '600')

indivcleaner(c, '20%', '20') # Assuming the % was misread an Euro symbol

indivcleaner(c, 'I was able to move all equipment I need to work to home', '0')

indivcleaner(c, '0,00', '0')

indivcleaner(c, '200 Amazon voucher', '200')

indivcleaner(c, '40 every month', '480') # 40 * 12 = 480

indivcleaner(c, 'no','0')

indivcleaner(c, 'No', '0')

indivcleaner(c, '400 / month', '4800') # 400 * 12 = 4800

indivcleaner(c, 'yes', '100')

In [1629]:
for i in numcolumns:
    print(i)
    print(uv(i))
    print("")

Age
['26.0' '29.0' '28.0' '37.0' '32.0' '24.0' '35.0' '34.0' '31.0' '27.0'
 '25.0' '59.0' '36.0' '38.0' '40.0' '39.0' '33.0' '30.0' '49.0' '48.0'
 '44.0' '66.0' '45.0' '43.0' '42.0' '46.0' '56.0' '53.0' '41.0' '65.0'
 '47.0' '22.0' '23.0' '50.0' '51.0' '20.0' '54.0']

Total years of experience
['5' '7' '12' '4' '17' '6' '8' '15' '2' '14' '11' '30' '18' '13' '10' '25'
 '3' '40' '26' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5' '21' '2.5'
 '28' '29' '23' '1,5' '24' '0' '4.5' '27' '2,5' '31' '3.5']

Years of experience in Germany
['3' '4' '6' '1' '0.4' '2' '5' '9' '30' '7' '15' '11' '10' '18' '0' '2.5'
 '1,5' '1.5' '0.5' '13' '14' '8' '3.5' '0.8' '12' '3,5' '20' '0.9' '25'
 '0.25' '16' '19' '2,5' '0,5' '4.5' '0.1' '2.6' '0,3' '0.2']

Yearly brutto salary (without bonus and stocks) in EUR
['80000.0' '120000.0' '54000.0' '62000.0' '76000.0' '57000.0' '65000.0'
 '56000.0' '95000.0' '52500.0' '70000.0' '75000.0' '60350.0' '60000.0'
 '100000.0' '69000.0' '47400.0' '85000.0' '63000.0' '150000.0' '45000.0'
 '72000.0' '67000.0' '105000.0' '74000.0' '77000.0' '68000.0' '70500.0'
 '73500.0' '93000.0' '55000.0' '53000.0' '50000.0' '78000.0' '73000.0'
 '81000.0' '58000.0' '79000.0' '49000.0' '48000.0' '66000.0' '68500.0'
 '71060.0' '90000.0' '70800.0' '89200.0' '115000.0' '140000.0' '42000.0'
 '96000.0' '64000.0' '61500.0' '55200.0' '67200.0' '92500.0' '61200.0'
 '108000.0' '37500.0' '35000.0' '52000.0' '84000.0' '123600.0' '26400.0'
 '92000.0' '66800.0' '63500.0' '89570.0' '130000.0' '46000.0' '56400.0'
 '81200.0' '20000.0' '65400.0' '71000.0' '27000.0' '67500.0' '10164.0'
 '78500.0' '83000.0' '24000.0' '95500.0' '77600.0' '50400.0' '14712.0'
 '74400.0' '82000.0' '28800.0' '44000.0' '76900.0' '88000.0' '200000.0'
 '30000.0' '21120.0' '47500.0' '45600.0' '66300.0' '79300.0' '34000.0'
 '47000.0' '180000.0' '63700.0' '122000.0' '69200.0' '59000.0' '160000.0'
 '76500.0' '36000.0' '51000.0' '154000.0' '43000.0' '39000.0' '86000.0'
 '40000.0' '98000.0' '99000.0' '102000.0' '78600.0' '250000.0' '58800.0'
 '54500.0' '82500.0' '57600.0' '12000.0' '71750.0' '81900.0' '22000.0'
 '37000.0' '159000.0' '103000.0' '23000.0' '135000.0' '29000.0' '87000.0'
 '850000.0' '110000.0' '240000.0' '33000.0' '151872.0' '52800.0'
 '500000000.0' '94000.0' '10001.0' '67473.0' '91000.0' '66500.0' '56700.0'
 '77250.0' '25000.0' '106000.0' '49200.0' '21000.0' '25300.0' '85600.0'
 '172000.0' '14400.0' '54179.13' '113000.0' '64800.0' '59064.0' '53500.0'
 '62400.0' '65600.0' '32000.0' '124000.0' '73700.0' '87550.0' '40700.0'
 '47745.0' '43500.0' '49850.0' '61000.0' '45500.0' '11500.0' '17500.0'
 '72500.0' '62500.0' '65900.0' '107000.0' '70200.0' '16320.0' '68250.0'
 '84700.0' '108500.0' '38350.0']

Yearly bonus + stocks in EUR
['5000' '0' '120000' '2000' '80000' '4000' '10000' '1000' '101' '12000'
 '1500' '15000' '72000' '73000' '3000' '5800' '30000' '7000' '40000'
 '56000' '8000' '75000' '6300' '6000' '22000' '7500' '67000' '8500'
 '70000' '17800' '25000' '26000' '10300' '6900' '95000' '4700' '62000'
 '18000' '22500' '7300' '77000' '17000' '12150' '60000' '20000' '63500'
 '20240' '81200' '6500' '46000' '400' '122.13' '500' '14500' '43500'
 '50400' '88000' '28800' '86000' '77400' '12' '65000' '74000' '200000'
 '3520' '96000' '47500' '45600' '55000' '11000' '11900' '150000' '13500'
 '50000' '1600' '5500' '45000' '38500' '2400' '4300' '59000' '100000'
 '63909' '99000' '70500' '450000' '20700' '78000' '9000' '4250' '102600'
 '35000' '23000' '97000' '1100' '90000' '37968' '4400' '66500'
 '5000000000' '84000' '4500' '15900' '21000' '87250' '85000' '71000'
 '106000' '43000' '14000' '2500' '60847.32' '3250' '54000' '58000'
 '170000' '82000' '9450' '66447' '53500' '82500' '800' '36000' '13000'
 '2800' '107000' '12500' '125000' '80400' '3800' '28000' '31500' '63000'
 '45500' '92000' '1200' '1250' '16000' '110000' '700' '16320' '40950']

Number of vacation days
['30' '28' '24' '29' '27' '25' '31' '60' '26' '22' '38' '35' '0' '40' '36'
 '23' '33' '21' '20' '14' 'unlimited ' '32' '15' '16' '3' '45' '12' '50'
 '365' '99' '37.5' '1' '5' '39' '34' '10']

Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
['0.0' '30.0' '32.0' '24.0' '20.0' '40.0' '10.0' '34.0' '38.0' '35.0'
 '36.0' '28.0' '37.5' '25.0' '26.0' '2.0' '8.0' '4.0' '5.0' '16.0' '12.0']

Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
['0' '600' '200' '1100' '1' '1000' '5000' '500' '2000' '300' '900' '1500'
 '850' '100' '1600' '50' '250' '400' '675' '40' '750' '700' '1200' '1300'
 '1750' '580' '4800' '550' '440' '75% from government ' '480' '180' '1700'
 '160' '800' '350' '540' '240' '1250.29' '1800' '150' '80' '20' '140'
 '650' '1670']

In [1630]:
# Even after using indivcleaner(), there are still noncomforming values that need to be adressed

In [1631]:
# Now some more additional manual cleaning that was not picked up by indivcleaner()

df.loc[df['Number of vacation days'].str.contains('unlimited'), 'Number of vacation days'] = '365'

df.loc[df['Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR']\
.str.contains('75% from government'), 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'] = '0' 
# This is because question is asking about employer assistance and it is again assumed that % is misread for Euros

# This blanket swap from coma to dot and a "zero drop" can be only done after using indivcleaner()

def coma_to_dot(colname):
    df[colname] = df[colname].str.replace(',','.')
    
def space_remover(colname):
    df[colname] = df[colname].str.replace(' ','')

for i in numcolumns:
    coma_to_dot(i)
    space_remover(i)

In [1632]:
for i in numcolumns:
    print(i)
    print(uv(i))
    print("")

Age
['26.0' '29.0' '28.0' '37.0' '32.0' '24.0' '35.0' '34.0' '31.0' '27.0'
 '25.0' '59.0' '36.0' '38.0' '40.0' '39.0' '33.0' '30.0' '49.0' '48.0'
 '44.0' '66.0' '45.0' '43.0' '42.0' '46.0' '56.0' '53.0' '41.0' '65.0'
 '47.0' '22.0' '23.0' '50.0' '51.0' '20.0' '54.0']

Total years of experience
['5' '7' '12' '4' '17' '6' '8' '15' '2' '14' '11' '30' '18' '13' '10' '25'
 '3' '40' '26' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5' '21' '2.5'
 '28' '29' '23' '24' '0' '4.5' '27' '31' '3.5']

Years of experience in Germany
['3' '4' '6' '1' '0.4' '2' '5' '9' '30' '7' '15' '11' '10' '18' '0' '2.5'
 '1.5' '0.5' '13' '14' '8' '3.5' '0.8' '12' '20' '0.9' '25' '0.25' '16'
 '19' '4.5' '0.1' '2.6' '0.3' '0.2']

Yearly brutto salary (without bonus and stocks) in EUR
['80000.0' '120000.0' '54000.0' '62000.0' '76000.0' '57000.0' '65000.0'
 '56000.0' '95000.0' '52500.0' '70000.0' '75000.0' '60350.0' '60000.0'
 '100000.0' '69000.0' '47400.0' '85000.0' '63000.0' '150000.0' '45000.0'
 '72000.0' '67000.0' '105000.0' '74000.0' '77000.0' '68000.0' '70500.0'
 '73500.0' '93000.0' '55000.0' '53000.0' '50000.0' '78000.0' '73000.0'
 '81000.0' '58000.0' '79000.0' '49000.0' '48000.0' '66000.0' '68500.0'
 '71060.0' '90000.0' '70800.0' '89200.0' '115000.0' '140000.0' '42000.0'
 '96000.0' '64000.0' '61500.0' '55200.0' '67200.0' '92500.0' '61200.0'
 '108000.0' '37500.0' '35000.0' '52000.0' '84000.0' '123600.0' '26400.0'
 '92000.0' '66800.0' '63500.0' '89570.0' '130000.0' '46000.0' '56400.0'
 '81200.0' '20000.0' '65400.0' '71000.0' '27000.0' '67500.0' '10164.0'
 '78500.0' '83000.0' '24000.0' '95500.0' '77600.0' '50400.0' '14712.0'
 '74400.0' '82000.0' '28800.0' '44000.0' '76900.0' '88000.0' '200000.0'
 '30000.0' '21120.0' '47500.0' '45600.0' '66300.0' '79300.0' '34000.0'
 '47000.0' '180000.0' '63700.0' '122000.0' '69200.0' '59000.0' '160000.0'
 '76500.0' '36000.0' '51000.0' '154000.0' '43000.0' '39000.0' '86000.0'
 '40000.0' '98000.0' '99000.0' '102000.0' '78600.0' '250000.0' '58800.0'
 '54500.0' '82500.0' '57600.0' '12000.0' '71750.0' '81900.0' '22000.0'
 '37000.0' '159000.0' '103000.0' '23000.0' '135000.0' '29000.0' '87000.0'
 '850000.0' '110000.0' '240000.0' '33000.0' '151872.0' '52800.0'
 '500000000.0' '94000.0' '10001.0' '67473.0' '91000.0' '66500.0' '56700.0'
 '77250.0' '25000.0' '106000.0' '49200.0' '21000.0' '25300.0' '85600.0'
 '172000.0' '14400.0' '54179.13' '113000.0' '64800.0' '59064.0' '53500.0'
 '62400.0' '65600.0' '32000.0' '124000.0' '73700.0' '87550.0' '40700.0'
 '47745.0' '43500.0' '49850.0' '61000.0' '45500.0' '11500.0' '17500.0'
 '72500.0' '62500.0' '65900.0' '107000.0' '70200.0' '16320.0' '68250.0'
 '84700.0' '108500.0' '38350.0']

Yearly bonus + stocks in EUR
['5000' '0' '120000' '2000' '80000' '4000' '10000' '1000' '101' '12000'
 '1500' '15000' '72000' '73000' '3000' '5800' '30000' '7000' '40000'
 '56000' '8000' '75000' '6300' '6000' '22000' '7500' '67000' '8500'
 '70000' '17800' '25000' '26000' '10300' '6900' '95000' '4700' '62000'
 '18000' '22500' '7300' '77000' '17000' '12150' '60000' '20000' '63500'
 '20240' '81200' '6500' '46000' '400' '122.13' '500' '14500' '43500'
 '50400' '88000' '28800' '86000' '77400' '12' '65000' '74000' '200000'
 '3520' '96000' '47500' '45600' '55000' '11000' '11900' '150000' '13500'
 '50000' '1600' '5500' '45000' '38500' '2400' '4300' '59000' '100000'
 '63909' '99000' '70500' '450000' '20700' '78000' '9000' '4250' '102600'
 '35000' '23000' '97000' '1100' '90000' '37968' '4400' '66500'
 '5000000000' '84000' '4500' '15900' '21000' '87250' '85000' '71000'
 '106000' '43000' '14000' '2500' '60847.32' '3250' '54000' '58000'
 '170000' '82000' '9450' '66447' '53500' '82500' '800' '36000' '13000'
 '2800' '107000' '12500' '125000' '80400' '3800' '28000' '31500' '63000'
 '45500' '92000' '1200' '1250' '16000' '110000' '700' '16320' '40950']

Number of vacation days
['30' '28' '24' '29' '27' '25' '31' '60' '26' '22' '38' '35' '0' '40' '36'
 '23' '33' '21' '20' '14' '365' '32' '15' '16' '3' '45' '12' '50' '99'
 '37.5' '1' '5' '39' '34' '10']

Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week
['0.0' '30.0' '32.0' '24.0' '20.0' '40.0' '10.0' '34.0' '38.0' '35.0'
 '36.0' '28.0' '37.5' '25.0' '26.0' '2.0' '8.0' '4.0' '5.0' '16.0' '12.0']

Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
['0' '600' '200' '1100' '1' '1000' '5000' '500' '2000' '300' '900' '1500'
 '850' '100' '1600' '50' '250' '400' '675' '40' '750' '700' '1200' '1300'
 '1750' '580' '4800' '550' '440' '480' '180' '1700' '160' '800' '350'
 '540' '240' '1250.29' '1800' '150' '80' '20' '140' '650' '1670']

In [1633]:
for col in numcolumns:
    df[col] = df[col].apply(float)

In [1634]:
df['Total years of experience'] = df['Total years of experience'].round()

df['Years of experience in Germany'] = df['Years of experience in Germany'].round()

In [1635]:
df['Total years of experience'].unique()

array([ 5.,  7., 12.,  4., 17.,  6.,  8., 15.,  2., 14., 11., 30., 18.,
       13., 10., 25.,  3., 40., 26.,  9., 19., 20., 22., 16.,  1., 21.,
       28., 29., 23., 24.,  0., 27., 31.])

In [1636]:
df

,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,26,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000,...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,0,0
1,26,Male,Berlin,Backend Developer,7,4,Senior,Ruby,No Response,80000,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,0,0
2,29,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000,...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,0,0
3,28,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,No Response,54000,...,No Response,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,0,0
4,37,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000,...,No Response,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,31,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",70000,...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,0,0
1035,33,Male,Berlin,Researcher/ Consumer Insights Analyst,10,2,Senior,consumer analysis,No Response,60000,...,2500,365,Full-time employee,Unlimited contract,English,1000+,Product,No,0,0
1036,39,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",110000,...,No Response,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,0,0
1037,26,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",38350,...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,0,0
1038,26,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",65000,...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30,600

In [1637]:
# Now text columns

txtcolumns = ['Gender', 'City','Position ', 'Seniority level',
              'Your main technology / programming language',
              'Employment status',
              'Сontract duration',
              'Main language at work',
              'Company size', 'Company type',
              'Have you lost your job due to the coronavirus outbreak?']

In [1638]:
for i in txtcolumns:
    print(i)
    print(uv(i))
    print("")

Gender
['Male' 'Female' 'Diverse']

City
['Munich' 'Berlin' 'Hamburg' 'Wolfsburg' 'Schleswig-Holstein'
 'Konstanz area' 'Frankfurt' 'Cologne' 'Kempten' 'Münster' 'Rosenheim'
 'Mannheim ' 'Stuttgart' 'Boeblingen' 'Düsseldorf' 'Ingolstadt' 'Nürnberg'
 'Ansbach' 'Leipzig' 'Mannheim' 'Tuttlingen' 'Bonn' 'Moscow' 'Warsaw'
 'Heidelberg' 'Aachen' 'Riga, Latvia' 'Dusseldorf' 'Helsinki' 'Würzburg'
 'Kiev' 'Den Haag' 'London' 'Amsterdam' 'Tallinn' 'Prague' 'Utrecht'
 'Stockholm' 'Braunschweig ' 'Dresden' 'Kyiv' 'Stuttgart ' 'Lübeck'
 'Nuremberg ' 'Bodensee' 'Milan' 'Salzburg' 'Rome' 'Karlsruhe' 'Cupertino'
 'Paris' 'Dublin ' 'Paderborn' 'Konstanz' 'Ulm' 'Barcelona' 'Bölingen'
 'Tampere (Finland)' 'Siegen' 'Minsk' 'Düsseldorf ' 'Nuremberg'
 'Friedrichshafen' 'Hannover' 'Walldorf' 'France' 'Regensburg'
 'Warsaw, Poland' 'Heilbronn' 'Dortmund' 'Jena' 'City in Russia' 'Cracow'
 'Brunswick' 'Zurich' 'Dublin' 'Madrid' 'Lisbon' 'Sofia' 'Luttich'
 'Milano' 'Bielefeld' 'NJ, USA' 'Istanbul' 'warsaw' 'Hildesheim' 'Vienna'
 'Murnau am Staffelsee ' 'Zürich' 'Innsbruck' 'Hildesheim ' 'Eindhoven'
 'Prefer not to say' 'Dusseldurf' 'Fr' 'Darmstadt' 'Duesseldorf'
 'Cambridge' 'Brussels' 'Copenhagen' 'Sevilla' 'Krakow' 'Ingolstadt '
 'Saarbrücken']

Position
['Software Engineer' 'Backend Developer' 'Frontend Developer' 'DevOps'
 'Data Engineer' 'Mobile Developer' 'Software Architect' 'Team Lead'
 'Test manager' 'Product Manager' 'Data Scientist' 'Designer (UI/UX)'
 'Engineering Manager' 'Analytics engineer' 'Hardware Engineer'
 'Reporting Engineer' 'QA Engineer' 'agile master ' 'ML Engineer'
 'Solution Architect' 'BI Consultant' 'Fullstack Developer'
 'Cloud Architect' 'Network Engineer ' 'VP Engineering'
 'Data Science Manager' 'Scrum Master' 'Firmware Engineer'
 'Solutions Architect' 'Data Center Manager' 'C/C++/Java developer'
 'DevOps Manager' 'Network Administrator' 'Consultant Data Analytics'
 'BI IT Consultant' 'iOS Developer' 'Cloud Engineer' 'Solutions architect'
 'Stuttgart' 'Senior Program Manager' 'DB developer/Data analyst'
 'Security Engineer' 'Business Analyst' 'DBA' 'Support Engineer'
 'Consultant' 'Testautomation' 'SAP Developer' 'SW Architect' 'SRE'
 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Tech Lead / Full-Stack' 'Marketing Analyst' 'CTO' 'Software tester '
 'SAP BW Senior Consultant ' 'QA Manager ' 'Director of Engineering'
 'IT Spezialist' 'Manager' 'Consultant ' 'Data Analyst'
 'Software Developer in Test' 'Tech Leader' 'Chief Research Officer'
 'Presales Engineer ' 'Freelance AI lead / advisor'
 'Business Development Manager Operations ' 'Program Manager' 'Researcher'
 'Engineering manager' 'Embedded Software Engineer' 'Team Manager'
 'Data Analyst ' 'working student (QA)' 'Architect ' 'Head of Engineering'
 'SAP Consultant' 'BI Consultant SAP/ Data Engineer'
 'computer vision researcher' 'Teamlead' 'Senior Data Engineer' 'Analyst'
 'Lead Software Developer' 'Tech recruiting' 'BI Analyst '
 'BI Developer / Data Engineer' 'Senior Scrum Master (RTE)' 'Head of BI'
 'Technical project manager' 'support engineer' 'Big Data Engineer'
 'Manager ' 'Professor' 'AI Management' 'Sales ' 'XR Developer'
 'Student, Software Developer, Data Engineer' 'Engineering Team Lead'
 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Product Management Praktikant' 'Data analyst ' 'Product Analyst'
 'It Consulting ' 'Staff Engineer' 'Head of IT' 'Computational linguist'
 'Full-Stack Developer' 'QA Manager' 'QA Lead' 'Robotics Engineer'
 'DatabEngineer' 'Project Manager' 'Application Consultant'
 'Software Architekt' 'Testmanager' 'ERP Consultant'
 'Researcher/ Consumer Insights Analyst ' 'IT Operations Manager']

Seniority level
['Senior' 'Lead' 'Junior' 'Middle' 'VP' 'Manager' 'Work Center Manager'
 'Head' 'CTO' 'No level ' 'Director' 'C-level executive manager'
 'Principal' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'Entry level' 'Intern' 'student']

Your main technology / programming language
['TypeScript' 'Ruby' 'Javascript / Typescript' 'Javascript' 'C# .NET'
 'AWS, GCP, Python,K8s' 'Typescript' 'PHP' 'Java'
 'Aws Hadoop Postgre Typescript' 'Kotlin' 'kotlin' 'NodeJS' 'iOS'
 'Kubernetes' 'Charles' 'SQL' 'Go' 'java' 'Python' 'Figma' 'JavaScript'
 'Go/Python' 'React' 'Php' 'ruby on rails' 'JavaScript/ES6' '.NET' 'C#'
 'Js' 'android' 'JavaScript ' 'Scala' 'python' 'VHDL' 'Power BI' 'PHP '
 'none' 'Android' 'Swift' 'ML' 'php' 'C++' 'Scala, React.js' 'Ml/Python'
 'C#, .net core' 'JavaScript/TypeScript' 'Ruby on Rails' 'Azure, SAP'
 'Frontend' 'Java, JavaScript' 'yaml' 'Python ' 'JS' '-' 'Agile' 'C'
 'TypeScript, JavaScript' 'Pegasystems platform ' 'C++, Java, Embedded C'
 'Cloud' 'DC Management' '--' 'SWIFT' 'Java, angular, Aws'
 'Swift, objective-c' 'Golang' 'go' 'DevOps' '.net' 'Node.js' 'R'
 'Java, Javascript' 'Bash' 'Network' 'nothing' 'Qlik BI Tool, SQL'
 'Blockchain' 'Angular' 'Autonomous Driving' 'c#'
 'Js, TypeScript, Angular' 'T-SQL' 'c++' 'Java, terraform'
 'Pascal, VB.NET, C#' 'Oracle' 'Javascript ' 'Angular, React' 'Elixir'
 'NodeJS, Typescript, AWS' 'Erlang' 'Java, JS' 'Objective-C' 'QA' 'C++/C#'
 'ABAP' 'Java/Kotlin' 'Typescript / Angular' 'React/Typescript' 'Golang '
 'javascript' 'Java/C++' 'Scala / Python' 'Java/Scala' 'Web developer'
 'JavaScript/Typescript' 'TypeScript, React' 'Python / JavaScript (React)'
 'JavaScript / typescript' 'Terraform' 'JAVA' 'Apache Spark'
 'SAP BW / ABAP' 'Go, PHP, SQL' 'Kotlin ' 'Jira' 'Qml' 'AWS' 'C#/.NET'
 '.Net' 'Kotlin, Java' 'Linux Kernel' 'several' 'Android/Kotlin'
 'embedded' 'Java/Groovy' 'typescript' 'Python + SQL'
 'Typescript, Web apps' 'Terraform ' 'Java, .Net'
 'Python, statistics, SQL' 'Sql, BQ, tableau, gtm, ga' 'React '
 'Business Development Manager Operation ' 'Management' 'Java, Kotlin'
 'Nodejs' 'TS' 'sql' 'Spark, Pytorch' 'C/C++' 'Java '
 'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts'
 'Python, SQL' 'DWH' 'Azure' 'Sketch, Figma' 'js' 'k8s'
 'Frontend: react, node.js' 'VB, RPA, Python' 'FBD' 'C, C++'
 'Swift, Objective-C, iOS' 'Embedded' 'JavaScript / TypeScript'
 'SAP / ABAP' 'Kubrrnetes' 'networking, linux, automation, cloud' 'UML'
 'Spark' 'Js, reactJS ' 'Cobol' 'SRE' 'Clojure' 'JS, WDIO'
 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet' 'Spring' 'swift'
 'Офмф' 'React JS' 'Typescript ' 'TypeScript/Angular' 'golang'
 'Kotlin/PHP' 'SAP ABAP' 'AI' 'pythin' 'julia' 'Java & PHP' 'Sql '
 'Angular, Typescript' 'PM tools' 'Grails, Groovy' 'python '
 'React / JavaScript' 'Perl' 'Python, cloud computing ' 'Haskell'
 'JavScript' 'Python (Django)' 'Network Automation'
 'Kubernetes, Terraform, GCP' 'PowerShell' 'python, scala'
 'Django, Flask, Plotly Dash' 'Sql' 'Javascript, Angular' 'SAS,SQL,Python'
 'Node' 'Python/SQL' 'php, js, python, docker' 'C, Matlab'
 'TypeScript, Kotlin' 'Apotheker' 'JavaScript, TypeScript'
 'Tricentis Tosca' 'Java & Distributed Systems Stuff' 'jenkins bash'
 'Test Management ' 'NodeJS/TS' 'PHP/MySQL' 'Angular, TypeScript'
 'NLP, Python' 'Python, Whole Apache Data Science Stack, AWS'
 'Embedded C++' 'NodsJs' 'Javascript/Typescript' 'Linux'
 'Kuberenetes, Openstack' 'c/c++' 'JS, Java' 'Python, Pytorch'
 'PS, Sketch, React, CSS3' 'Python/NLP' 'Scala, Apache Spark'
 'Swift, Objective-C' 'React.js / TypeScript' 'BI, DWH, ETL/ELT' 'GCP'
 'Web' 'PL/SQL' 'SAP' 'scala' 'Java / Scala' 'Magento'
 'Python, database technologies' 'C++, C#' 'Java Backend' '.Net, Angular'
 'Qlik' 'consumer analysis']

Employment status
['Full-time employee' 'Self-employed (freelancer)' 'Founder'
 'Part-time employee' 'working student' 'Working Student'
 'Full-time position, part-time position, & self-employed (freelancing, tutoring)'
 'Intern'
 "full-time, but 32 hours per week (it was my request, I'm a student)"
 'Werkstudent']

Сontract duration
['Unlimited contract' 'Temporary contract' '0']

Main language at work
['English' 'German' 'English and German' 'Russian' 'Polish' 'Русский'
 'Czech' 'Italian' 'Deuglisch' 'French' 'both' 'Spanish'
 'Russian, English']

Company size
['51-100' '101-1000' '11-50' '1000+' 'up to 10']

Company type
['Product' 'Startup' 'Consulting / Agency' 'Media' 'Cloud' 'Behörde'
 'Construction' 'Big commercial' 'Outsorce' 'Bank ' 'Automotive'
 'IT Department of established business' 'Telecommunications' 'E-commerce'
 'Bank' 'University' 'consumer goods' 'IT-Outsourcing' 'Game Company'
 'Financial ' 'Corporation' 'Publishing and Technology' 'Market Research '
 'e-commerce' 'SaaS' 'Publisher' 'Energy ' 'Enterprise'
 'Bloody enterprise' 'service' 'Concern' 'Utilities' 'Insurance'
 'Science Institute ' 'Research institute' 'Retail' 'Ecommerce'
 'E-Commerce' 'Semiconductor' 'Institute' 'Finance' 'Handel '
 'Consulting and Product' 'Education'
 'Full-time position in Education, part-time position in at a data startup'
 'Corporation ' 'Transport & Logistics' 'Biergarten ' 'Non-tech retail'
 'Research' 'corporate incubator' 'FAANG' 'Old industry' 'Outsourse'
 'eCommerce']

Have you lost your job due to the coronavirus outbreak?
['No' 'Yes' "i didn't but will be looking for new one because of covid"
 'Have been a freelancer at the beginning of year' '0'
 'No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months'
 'Leads and project inquiries have slowed down' 'Laid off for a bit'
 'yes but found a new one with better pay / perks']

In [1639]:
# For City


# City column has an exceptional amount of extra spaces, so removing these first should help clean data

c = 'City'

space_remover(c)

uv('City')

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Schleswig-Holstein',
       'Konstanzarea', 'Frankfurt', 'Cologne', 'Kempten', 'Münster',
       'Rosenheim', 'Mannheim', 'Stuttgart', 'Boeblingen', 'Düsseldorf',
       'Ingolstadt', 'Nürnberg', 'Ansbach', 'Leipzig', 'Tuttlingen',
       'Bonn', 'Moscow', 'Warsaw', 'Heidelberg', 'Aachen', 'Riga,Latvia',
       'Dusseldorf', 'Helsinki', 'Würzburg', 'Kiev', 'DenHaag', 'London',
       'Amsterdam', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig', 'Dresden', 'Kyiv', 'Lübeck', 'Nuremberg',
       'Bodensee', 'Milan', 'Salzburg', 'Rome', 'Karlsruhe', 'Cupertino',
       'Paris', 'Dublin', 'Paderborn', 'Konstanz', 'Ulm', 'Barcelona',
       'Bölingen', 'Tampere(Finland)', 'Siegen', 'Minsk',
       'Friedrichshafen', 'Hannover', 'Walldorf', 'France', 'Regensburg',
       'Warsaw,Poland', 'Heilbronn', 'Dortmund', 'Jena', 'CityinRussia',
       'Cracow', 'Brunswick', 'Zurich', 'Madrid', 'Lisbon', 'Sofia',
       'Luttich', 'Milano', 'Bielefeld', 'NJ,USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Vienna', 'MurnauamStaffelsee', 'Zürich',
       'Innsbruck', 'Eindhoven', 'Prefernottosay', 'Dusseldurf', 'Fr',
       'Darmstadt', 'Duesseldorf', 'Cambridge', 'Brussels', 'Copenhagen',
       'Sevilla', 'Krakow', 'Saarbrücken'], dtype=object)

In [1640]:

indivcleaner(c, 'Kiev', 'Kyiv')

indivcleaner(c, 'Tampere(Finland)', 'Tampere')

indivcleaner(c, 'MurnauamStaffelsee', 'Murnau am Staffelse')

indivcleaner(c, 'CityinRussia', 'Moscow') # Moscow is the most populated city in Russia

indivcleaner(c, 'Warsaw,Poland', 'Warsaw')

indivcleaner(c, 'Fr', 'Paris') # Paris is the most populated city in France (assuming Fr is France)

indivcleaner(c, 'France', 'Paris')

indivcleaner(c, 'DenHaag', 'Den Haag')

indivcleaner(c, 'NJ,USA', 'NA') # Survey is for EU only

indivcleaner(c, 'Cupertino', 'NA')

indivcleaner(c, 'Duesseldorf', 'Dusseldorf')

indivcleaner(c, 'Dusseldurf', 'Dusseldorf')

indivcleaner(c, 'Düsseldorf', 'Dusseldorf')

indivcleaner(c, 'Konstanzarea', 'Konstanz')

indivcleaner(c, 'Zürich', 'Zurich')

indivcleaner(c, 'Nürnberg', 'Nuremberg')

indivcleaner(c, 'Riga,Latvia', 'Riga')

indivcleaner(c, 'Prefernottosay', 'NA') # City data is not useful but rest of entries are

indivcleaner(c, 'Milano', 'Milan')

indivcleaner(c, 'warsaw', 'Warsaw')

In [1641]:
# For Seniority level

c = 'Seniority level'

indivcleaner(c, 'no idea, there are no ranges in the firm ', 'No-level')

indivcleaner(c, 'Working Student', 'Intern')

indivcleaner(c, 'intern', 'Intern')

indivcleaner(c, 'student', 'Intern')

indivcleaner(c, 'C-level executive manager', 'C-Level')

indivcleaner(c, 'C-Level', 'C-Level')

indivcleaner(c, 'CTO', 'C-Level')

indivcleaner(c, 'No level ', 'No level')

indivcleaner(c, 'No-level', 'No level')

# For the following titles, salaries are very comparable so they should be combined for sake of fragmentation

# The goal with these replacements is to avoid positions that have only a couple entries pass through to data analysis

indivcleaner(c, 'Head', 'Lead') 

indivcleaner(c, 'Entry level', 'Junior')

seniorpositions = ['Director', 'Manager', 'Principal', 'VP', 'Work Center Manager'] # Too few entries each

for i in seniorpositions:
    indivcleaner(c, i, 'Senior')

In [1642]:
# For Employment Status

c = 'Employment status'

indivcleaner(c, 'Full-time employee', 'Full-time')

indivcleaner(c, 'Self-employed (freelancer)', 'Self-employed')

indivcleaner(c, 'Part-time employee', 'Part-time')

indivcleaner(c, 'working student', 'Intern')

#indivcleaner(c, 'student', 'Intern')

indivcleaner(c, 'Full-time position, part-time position, & self-employed (freelancing, tutoring)', 'Full-time')

indivcleaner(c, "full-time, but 32 hours per week (it was my request, I'm a student)", 'Full-time')

indivcleaner(c, 'Werkstudent', 'Intern')

In [1643]:
# For losing job

c = 'Have you lost your job due to the coronavirus outbreak?' # Question is assumed to be asked about a job, not current

indivcleaner(c, "i didn't but will be looking for new one because of covid", 'No')

indivcleaner(c, 'Have been a freelancer at the beginning of year', 'No')

indivcleaner(c, '0', 'No')

indivcleaner(c, 'No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months', 'No')

indivcleaner(c, 'Leads and project inquiries have slowed down', 'Yes')

indivcleaner(c, 'Laid off for a bit', 'Yes')

indivcleaner(c, 'yes but found a new one with better pay / perks', 'Yes')

In [1644]:
# For Contract duration

c = 'Сontract duration'

indivcleaner(c, '0', 'Unlimited contract')

In [1645]:
# For language

c = 'Main language at work'

indivcleaner(c, 'English and German', 'Bilingual')

indivcleaner(c, 'Русский', 'Russian')

indivcleaner(c, 'Deuglisch', 'Bilingual')

indivcleaner(c, 'both', 'Bilingual')

indivcleaner(c, 'Russian, English', 'Bilingual')

In [1646]:
# For Company type

# Although company type does provide more specific data, it makes more sense
# to group by industry to have a richer analysis

# Visualising the data later on will show if assumptions are correct or not

c = 'Company type'

finance = ['Bank ', 'Bank', 'Financial ', 'Insurance', 'Finance']

ecomm = ['E-commerce', 'e-commerce', 'Ecommerce', 'E-Commerce','eCommerce']

tech_and_telcom = ['Media', 'Cloud', 'Telecommunications','IT-Outsourcing','Game Company',
                   'Publishing and Technology','SaaS', 'Publisher','FAANG']

retail = ['Automotive','consumer goods','Retail', 'Non-tech retail']

bus_services = ['Consulting / Agency', 'Outsorce', 'Market Research ',
                'Consulting and Product', 'Corporation ', 'Research',
                'corporate incubator','Outsourse']

ed = ['University', 'Science Institute ', 'Research institute','Institute',
      'Education']

startup = ['Startup', 'Enterprise','Full-time position in Education, part-time position in at a data startup',
           'Bloody enterprise']

util_man_en = ['Product','Construction','Energy ','Utilities','Transport & Logistics','Old industry',
               'Semiconductor']
             
gen = ['Behörde','Big commercial','IT Department of established business','Corporation',
       'service', 'Concern','Handel ','Biergarten ']

for entry in finance:
    indivcleaner(c, entry, 'Finance')
    
for entry in ecomm:
    indivcleaner(c, entry, 'E-Commerce')
    
for entry in tech_and_telcom:
    indivcleaner(c, entry, 'Tech, Media and Telecom')
    
for entry in retail:
    indivcleaner(c, entry, 'Retail')
    
for entry in bus_services:
    indivcleaner(c, entry, 'Business Services')
    
for entry in ed:
    indivcleaner(c, entry, 'Education and Research')
    
for entry in startup:
    indivcleaner(c,entry, 'Entrepreneurship')
    
for entry in util_man_en:
    indivcleaner(c, entry, 'Utilities and Manufacturing')
    
for entry in gen:
    indivcleaner(c, entry, 'General')

In [1647]:
# Lastly, main technology needs to be cleaned so that there is ONE entry per row since the questions asks about MAIN
# technology

uv('Your main technology / programming language')

array(['TypeScript', 'Ruby', 'Javascript / Typescript', 'Javascript',
       'C# .NET', 'AWS, GCP, Python,K8s', 'Typescript', 'PHP', 'Java',
       'Aws Hadoop Postgre Typescript', 'Kotlin', 'kotlin', 'NodeJS',
       'iOS', 'Kubernetes', 'Charles', 'SQL', 'Go', 'java', 'Python',
       'Figma', 'JavaScript', 'Go/Python', 'React', 'Php',
       'ruby on rails', 'JavaScript/ES6', '.NET', 'C#', 'Js', 'android',
       'JavaScript ', 'Scala', 'python', 'VHDL', 'Power BI', 'PHP ',
       'none', 'Android', 'Swift', 'ML', 'php', 'C++', 'Scala, React.js',
       'Ml/Python', 'C#, .net core', 'JavaScript/TypeScript',
       'Ruby on Rails', 'Azure, SAP', 'Frontend', 'Java, JavaScript',
       'yaml', 'Python ', 'JS', '-', 'Agile', 'C',
       'TypeScript, JavaScript', 'Pegasystems platform ',
       'C++, Java, Embedded C', 'Cloud', 'DC Management', '--', 'SWIFT',
       'Java, angular, Aws', 'Swift, objective-c', 'Golang', 'go',
       'DevOps', '.net', 'Node.js', 'R', 'Java, Javascript', 'Bash',
       'Network', 'nothing', 'Qlik BI Tool, SQL', 'Blockchain', 'Angular',
       'Autonomous Driving', 'c#', 'Js, TypeScript, Angular', 'T-SQL',
       'c++', 'Java, terraform', 'Pascal, VB.NET, C#', 'Oracle',
       'Javascript ', 'Angular, React', 'Elixir',
       'NodeJS, Typescript, AWS', 'Erlang', 'Java, JS', 'Objective-C',
       'QA', 'C++/C#', 'ABAP', 'Java/Kotlin', 'Typescript / Angular',
       'React/Typescript', 'Golang ', 'javascript', 'Java/C++',
       'Scala / Python', 'Java/Scala', 'Web developer',
       'JavaScript/Typescript', 'TypeScript, React',
       'Python / JavaScript (React)', 'JavaScript / typescript',
       'Terraform', 'JAVA', 'Apache Spark', 'SAP BW / ABAP',
       'Go, PHP, SQL', 'Kotlin ', 'Jira', 'Qml', 'AWS', 'C#/.NET', '.Net',
       'Kotlin, Java', 'Linux Kernel', 'several', 'Android/Kotlin',
       'embedded', 'Java/Groovy', 'typescript', 'Python + SQL',
       'Typescript, Web apps', 'Terraform ', 'Java, .Net',
       'Python, statistics, SQL', 'Sql, BQ, tableau, gtm, ga', 'React ',
       'Business Development Manager Operation ', 'Management',
       'Java, Kotlin', 'Nodejs', 'TS', 'sql', 'Spark, Pytorch', 'C/C++',
       'Java ',
       'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts',
       'Python, SQL', 'DWH', 'Azure', 'Sketch, Figma', 'js', 'k8s',
       'Frontend: react, node.js', 'VB, RPA, Python', 'FBD', 'C, C++',
       'Swift, Objective-C, iOS', 'Embedded', 'JavaScript / TypeScript',
       'SAP / ABAP', 'Kubrrnetes', 'networking, linux, automation, cloud',
       'UML', 'Spark', 'Js, reactJS ', 'Cobol', 'SRE', 'Clojure',
       'JS, WDIO', 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet',
       'Spring', 'swift', 'Офмф', 'React JS', 'Typescript ',
       'TypeScript/Angular', 'golang', 'Kotlin/PHP', 'SAP ABAP', 'AI',
       'pythin', 'julia', 'Java & PHP', 'Sql ', 'Angular, Typescript',
       'PM tools', 'Grails, Groovy', 'python ', 'React / JavaScript',
       'Perl', 'Python, cloud computing ', 'Haskell', 'JavScript',
       'Python (Django)', 'Network Automation',
       'Kubernetes, Terraform, GCP', 'PowerShell', 'python, scala',
       'Django, Flask, Plotly Dash', 'Sql', 'Javascript, Angular',
       'SAS,SQL,Python', 'Node', 'Python/SQL', 'php, js, python, docker',
       'C, Matlab', 'TypeScript, Kotlin', 'Apotheker',
       'JavaScript, TypeScript', 'Tricentis Tosca',
       'Java & Distributed Systems Stuff', 'jenkins bash',
       'Test Management ', 'NodeJS/TS', 'PHP/MySQL',
       'Angular, TypeScript', 'NLP, Python',
       'Python, Whole Apache Data Science Stack, AWS', 'Embedded C++',
       'NodsJs', 'Javascript/Typescript', 'Linux',
       'Kuberenetes, Openstack', 'c/c++', 'JS, Java', 'Python, Pytorch',
       'PS, Sketch, React, CSS3', 'Python/NLP', 'Scala, Apache Spark',
       'Swift, Objective-C', 'React.js / TypeScript', 'BI, DWH, ETL/ELT',
       'GCP', 'Web', 'PL/SQL', 'SAP', 'scala', 'Java / Scala', 'Magento',
       'Python, database technologies', 'C++, C#', 'Java Backend',
       '.Net, Angular', 'Qlik', 'consumer analysis'], dtype=object)

In [1648]:
# Glancing the unqie values shows that there are three main sources of nonconformity in the answers:

# 1) Differences in capitalisations (i.e. python is different from Python)
# 2) Multiple entries per row using '/', spaces, and comas
# 3) Typos

len(uv('Your main technology / programming language'))

244

In [1649]:
# The following code will adress this issue in hopes of homogenising the categories

df['Your main technology / programming language'] \
= [i.upper() for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.split('/')[0] for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.split(',')[0] for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.split('+')[0] for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.split('&')[0] for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.replace(' ','') for i in df['Your main technology / programming language']]

print(len(uv('Your main technology / programming language')),
      uv('Your main technology / programming language'))

121 ['TYPESCRIPT' 'RUBY' 'JAVASCRIPT' 'C#.NET' 'AWS' 'PHP' 'JAVA'
 'AWSHADOOPPOSTGRETYPESCRIPT' 'KOTLIN' 'NODEJS' 'IOS' 'KUBERNETES'
 'CHARLES' 'SQL' 'GO' 'PYTHON' 'FIGMA' 'REACT' 'RUBYONRAILS' '.NET' 'C#'
 'JS' 'ANDROID' 'SCALA' 'VHDL' 'POWERBI' 'NONE' 'SWIFT' 'ML' 'C' 'AZURE'
 'FRONTEND' 'YAML' '-' 'AGILE' 'PEGASYSTEMSPLATFORM' 'CLOUD'
 'DCMANAGEMENT' '--' 'GOLANG' 'DEVOPS' 'NODE.JS' 'R' 'BASH' 'NETWORK'
 'NOTHING' 'QLIKBITOOL' 'BLOCKCHAIN' 'ANGULAR' 'AUTONOMOUSDRIVING' 'T-SQL'
 'PASCAL' 'ORACLE' 'ELIXIR' 'ERLANG' 'OBJECTIVE-C' 'QA' 'ABAP'
 'WEBDEVELOPER' 'TERRAFORM' 'APACHESPARK' 'SAPBW' 'JIRA' 'QML'
 'LINUXKERNEL' 'SEVERAL' 'EMBEDDED' 'BUSINESSDEVELOPMENTMANAGEROPERATION'
 'MANAGEMENT' 'TS' 'SPARK' 'LINUX' 'DWH' 'SKETCH' 'K8S' 'FRONTEND:REACT'
 'VB' 'FBD' 'SAP' 'KUBRRNETES' 'NETWORKING' 'UML' 'COBOL' 'SRE' 'CLOJURE'
 'SPRING' 'ОФМФ' 'REACTJS' 'SAPABAP' 'AI' 'PYTHIN' 'JULIA' 'PMTOOLS'
 'GRAILS' 'PERL' 'HASKELL' 'JAVSCRIPT' 'PYTHON(DJANGO)'
 'NETWORKAUTOMATION' 'POWERSHELL' 'DJANGO' 'SAS' 'NODE' 'APOTHEKER'
 'TRICENTISTOSCA' 'JENKINSBASH' 'TESTMANAGEMENT' 'NLP' 'EMBEDDEDC'
 'NODSJS' 'KUBERENETES' 'PS' 'REACT.JS' 'BI' 'GCP' 'WEB' 'PL' 'MAGENTO'
 'JAVABACKEND' 'QLIK' 'CONSUMERANALYSIS']

In [1650]:
# With these adjustments the majority of redundancies are taken care of, but this creates two
# new problems:

# 1) All languages are now capitalised
# 2) There are some languages that did need a space or capitalization that was removed

df['Your main technology / programming language'] \
= [i.lower() for i in df['Your main technology / programming language']]

df['Your main technology / programming language'] \
= [i.capitalize() for i in df['Your main technology / programming language']]

# Problem 1) is now solved

# Problem 2) needs to be solved on a case-by-case basis, as well as other individual issues
# that were not picked up by the general sweep for '/' and ' '

c = 'Your main technology / programming language'

indivcleaner(c, 'Awshadooppostgretypescript', 'AWS')

indivcleaner(c, 'Pegasystemsplatform', 'Pegasystems Platform')

indivcleaner(c, 'Rubyonrails', 'Ruby on Rails')

indivcleaner(c, 'Autonomousdriving', 'Autonomous Driving')

indivcleaner(c, 'Webdeveloper', 'Web')

indivcleaner(c, 'Linuxkernel', 'Linux')

indivcleaner(c, 'Pythin', 'Python')

indivcleaner(c, 'Reactjs', 'React.js')

indivcleaner(c, 'Embeddedc', 'Embedded C++')

indivcleaner(c, 'Python(django)', 'Django')

indivcleaner(c, 'Javabackend', 'Java')

indivcleaner(c, 'Tricentistosca', 'Tricentis Tosca')

indivcleaner(c, 'Aws', 'AWS')

indivcleaner(c, 'Ios', 'iOS')

indivcleaner(c, 'Sql', 'SQL')

indivcleaner(c, 'Yaml', 'YAML')

In [1651]:
other = ['None', 'Devops', 'Network', 'Nothing', 'Several', 'Businessdevelopmentmanageroperation',
         'Management', 'Networking', 'Networkautomation','Testmanagement', 'Consumeranalysis',
         '-','--']


for i in other:
    indivcleaner(c, i, 'Other')
    
len(uv(c))

102

In [1652]:
uv('Employment status')

array(['Full-time', 'Self-employed', 'Founder', 'Part-time', 'Intern'],
      dtype=object)

In [1653]:
df

,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,26,Male,Munich,Software Engineer,5,3,Senior,Typescript,"Kotlin, Javascript / Typescript",80000,...,10000,30,Full-time,Unlimited contract,English,51-100,Utilities and Manufacturing,No,0,0
1,26,Male,Berlin,Backend Developer,7,4,Senior,Ruby,No Response,80000,...,5000,28,Full-time,Unlimited contract,English,101-1000,Utilities and Manufacturing,No,0,0
2,29,Male,Berlin,Software Engineer,12,6,Lead,Javascript,"Javascript / Typescript, Docker",120000,...,100000,30,Self-employed,Temporary contract,English,101-1000,Utilities and Manufacturing,Yes,0,0
3,28,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,No Response,54000,...,No Response,24,Full-time,Unlimited contract,English,51-100,Entrepreneurship,No,0,0
4,37,Male,Berlin,Backend Developer,17,6,Senior,C#.net,".NET, SQL, AWS, Docker",62000,...,No Response,29,Full-time,Unlimited contract,English,101-1000,Utilities and Manufacturing,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034,31,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",70000,...,72000,26,Full-time,Unlimited contract,English,51-100,Utilities and Manufacturing,Yes,0,0
1035,33,Male,Berlin,Researcher/ Consumer Insights Analyst,10,2,Senior,Other,No Response,60000,...,2500,365,Full-time,Unlimited contract,English,1000+,Utilities and Manufacturing,No,0,0
1036,39,Male,Munich,IT Operations Manager,15,2,Lead,Php,"Python, C/C++, Javascript / Typescript, Java /...",110000,...,No Response,28,Full-time,Unlimited contract,English,101-1000,E-Commerce,No,0,0
1037,26,Male,Saarbrücken,Frontend Developer,7,7,Middle,Javascript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",38350,...,36400,27,Full-time,Unlimited contract,German,101-1000,Utilities and Manufacturing,No,0,0
1038,26,Male,Berlin,DevOps,2,2,Middle,YAML,"Python, AWS, Kubernetes, Docker, terraform, an...",65000,...,0,30,Full-time,Unlimited contract,English,51-100,Entrepreneurship,No,30,600

In [1654]:
df.to_csv('/Users/nicomontenegrob/Documents/NYU/Data Bootcamp/Clean_df.csv')